#mainBody {
  background-image: url("../css/image\ \(2\).png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#logoimg {
  margin-left: 10px;
  float: left;
}
.logotext,
#villagerName {
  font-family: "Potta One", cursive;
}
#cardPlace {
  margin-top: 30%;
}
#maiImg {
  width: 250px;
}
#CardHolder {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#links {
  width: auto;
}
#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#welcome {
  margin-top: 22px;
}
