#mainBody {
  background-image: url("../css/image\ \(2\).png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

#welcome {
  margin-left: 25px;
}

#logoimg {
  margin-left: 10px;
  float: left;
}

.logotext,
.modal-content,
#villagerName {
  font-family: "Potta One", cursive;
}

.modal {
  height: 200px;
  width: 300px;
}

#searchIcon,
label {
  display: inline-block;
  text-align: center;
  line-height: 100%;
}

#cardPlace {
  margin-top: 10%;
}
#maiImg {
  width: 250px;
}
#CardHolder {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
#links {
  width: auto;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#icon_prefix,
#email,
#password:-webkit-autofill,
#icon_prefix,
#email,
#password:-webkit-autofill:hover,
#icon_prefix,
#email,
#password:-webkit-autofill:focus,
#icon_prefix,
#email,
#password:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
  font-family: "Potta One";
}

#TeamNumbers {
  font-family: "Potta One";
}
