
#mainBody { 
    background-image: url("../css/image\ \(2\).png");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }

#logoimg {
  margin-left: 50px;
  float: left;
}

#logotext {
  font-family: "Potta One", cursive;
}

#cardPlace {
  margin-top: 30%;
}